body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

h1 {
	text-align: center;
	background-color: #f1f1f1;
	margin-top: 0;
	height: 60px;
	line-height: 60px;
	margin-bottom: 4%;
	width: 100%;
}

.container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	justify-content: center;
}

#lists {
	display: flex;
	flex-direction: column;
	width: 15%;
	height: 400px;
	background-color: lightyellow;
}

.list {
	text-align: center;
	height: 50px;
	background-color: inherit;
	outline: none;
	transition: 0.3s;
}

.list:hover {
  background-color: #ddd;
}

.list:active {
	background-color: pink;
}

#content {
	display: grid;
	width: 40%;
	height: 400px;
	background-color:pink;
}

#listform {
	display: none;
}

.subcontent {
	grid-row: auto;
	text-align: center;
}